# ========================
# Core Frameworks & APIs
# ========================
fastapi
uvicorn[standard]
python-dotenv
boto3
python-multipart
# ========================
# Data & ML
# ========================
pandas
scikit-learn
tqdm
matplotlib
seaborn
plotly
seqeval
datasets
evaluate

# ========================
# NLP & DL
# ========================
torch
transformers
mlflow<3
dagshub

# ========================
# spaCy + Dependencies
# ========================
spacy
thinc>=8.0.0
catalogue
srsly
preshed
murmurhash
cymem
typer
pydantic

# ========================
# Extra Utils
# ========================
antlr4-python3-runtime

# ========================
# Auth / Security
# ========================
passlib[bcrypt]==1.7.4
bcrypt==3.2.2
python-jose[cryptography]==3.3.0

# ========================
# Resume Parsing
# ========================
pdfplumber
python-docx


#=======================
#Database   
#=======================
sqlalchemy
psycopg2-binary